.card-wrapper {
	/* scale: 0; */
	height: 50px;
	width: 50px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	perspective: 100px;
	border-radius: 8px;
	transition: 0.5s;
	cursor: pointer;
}

.content {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s;
	transform-style: preserve-3d;
	border-radius: 8px;
	user-select: none;
	animation: enter 1s ease-out;
}

@keyframes enter {
	0% {
		transform: rotateZ(0deg) scale(0%);
	}
	/* 50% {
		transform: rotateZ(360deg) scale(50%);
	} */
	100% {
		transform: rotateZ(180deg) scale(100%);
	}
}

.card-front {
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateY(180deg);
	box-shadow: 2px 2px 2px rgb(229, 229, 229);
	background: white;
}

.card-back {
	background: #fcb3ff;
	box-shadow: 2px 2px 2px rgb(234, 234, 234);
	transition: 0.3s;
}

.selectable:hover .card-back {
	background: yellow;
}

.card-back,
.card-front {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 8px;
}

.card-wrapper.selected .content {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

.cleared {
	/* Cleared/hidden cards can't be clicked: */
	pointer-events: none;
}

.card-wrapper.cleared .content {
	transform: rotateX(180deg) scale(0);
	transition: 1s;
}
