.card-wrapper {
	height: 40px;
	width: 40px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	perspective: 100px;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
}

.content {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s;
	transform-style: preserve-3d;
	border: 1px solid black;
	border-radius: 5px;
	user-select: none;
}

.card-front {
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateY(180deg);
	background: white;
}

.card-back {
	background: #ecb8ff;
}

.selectable:hover .card-back {
	background: yellow;
}

.card-back,
.card-front {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 5px;
}

.card-wrapper.selected .content {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

.cleared {
	/* Cleared/hidden cards can't be clicked: */
	pointer-events: none;
}

.card-wrapper.cleared .content {
	transform: rotateX(180deg) scale(0);
	transition: 1s;
}
